.carousel-control .fa-angle-left, .carousel-control .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev
{
        position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    font-size: 25px;
    background: black;
    padding: 0;
    width: 40px !important;
    height: 40px !important;
    font-size: 20px !important;
    line-height: 38px;
}
ol.temple-list {
    list-style: none;
    padding-left: 0;
    padding: 0px 10px;
}


ol.temple-list li {
    border-bottom: 1px dashed #c1c1c1;
    padding: 6px 0px;
}

ol.temple-list li a {
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration:none;
}


ol.temple-list li:before {
    content: '\f0da';
    font-family: FontAwesome;
    padding-right: 4px;
    color: #970216;
}
ol.temple-list li a:hover
{
  color: #970216;
}
ol.pdf-list {
    list-style: none;
    padding-left: 0;
}

ol.pdf-list li {
    border: 1px solid #c1c1c1;
    /* padding: 4px 0; */
    margin-bottom: 17px;
    display: flex;
}

ol.pdf-list li a {
    color: #000;
    padding-left: 10px;
    text-decoration: none;
    /* line-height: 33px; */
    /* position: relative; */
    /* top: 11px; */
    /* min-height: 53px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

ol.pdf-list li:before {content: '\f0c9';font-family: FontAwesome;background: #700f1c;padding: 8px 12px;color: #fff;font-weight: 500;font-size: 19px;}

ol.pdf-list li a:hover {
    color: red;
}
.pooja-box {
    padding: 0px 10px;
    border-bottom: 1px dashed #ababab;
    margin-bottom: 15px;
    padding-bottom: 6px;
}
.history-box {
    padding: 0px 10px;
    border-bottom: 1px solid #ddd;
}
.timing-box {
    padding: 10px;
}